@model IEnumerable<Department>
@{
    // Layout = "_Layout1";
    ViewBag.Title = "Department List";
}
<a asp-controller="Department" asp-action="Create" class="btn btn-danger">Create</a>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Department Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null || !Model.Any())
        {
            <tr>
                <td colspan="3">
                    No Department
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.DeptId</td>
                    <td>@item.Name</td>
                    <td>
                        <a asp-controller="Department" asp-action="Details" asp-route-id="@item.DeptId" class="btn btn-info">Details</a>
                        <a asp-controller="Department" asp-action="Edit" asp-route-id="@item.DeptId" class="btn btn-secondary">Update</a>
                        <a asp-controller="Department" asp-action="Delete" asp-route-id="@item.DeptId" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
